@import "tailwindcss";
@plugin "@tailwindcss/forms" {
  strategy: "class"; /* only generate form-* classes */
}

:root {
  --brand: var(--color-sky-600);
  --text-strong: #2d2d2d;
  --text-weak: #6d6d6d;
  --bg-green: #f5fef6;
  --bg-yellow: #fff1c2;
  --bg-red: #fff6f5;
}

body {
  @apply text-gray-800;
}
@layer components {
  .btn-default {
    @apply inline-block px-5 py-1
      cursor-pointer select-none !rounded-md text-sm font-semibold;
  }
  .btn-default.btn-gray {
    @apply border-gray-300 border-2 bg-white hover:bg-gray-200 text-gray-800;
    /* @apply bg-white hover:bg-gray-200 hover:scale-500 transition-all duration-1000; */
  }
  .btn-default.btn-red {
    @apply border-gray-300 border-2 border-red-400 text-red-500 hover:bg-red-200 hover:text-red-700;
  }
  .btn-default.btn-yellow {
    @apply bg-yellow-700 hover:bg-yellow-800 text-white;
  }
  .btn-default.btn-blue {
    @apply bg-sky-600 hover:bg-sky-700 text-white;
  }

  .eligibility-check-table-header {
    @apply px-4 py-3 text-left text-gray-500 text-lg;
  }
  .eligibility-check-table-cell {
    @apply px-4 py-3 border-gray-300;
  }
  .form-input-custom {
    @apply rounded-sm border-gray-400 border-2 py-2 px-3 h-9;
  }
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.fjs-powered-by {
  display: none;
}
.bjs-powered-by {
  display: none;
}

.fjs-form-field.fjs-form-field-text :where(h1),
.fjs-form-field.fjs-form-field-html :where(h1) {
  display: block;
  margin: 0.67em 0;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.2;
}

.fjs-form-field.fjs-form-field-text :where(h2),
.fjs-form-field.fjs-form-field-html :where(h2) {
  display: block;
  margin: 0.83em 0;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.25;
}

.fjs-form-field.fjs-form-field-text :where(h3),
.fjs-form-field.fjs-form-field-html :where(h3) {
  display: block;
  margin: 1em 0;
  font-size: 1.17em;
  font-weight: 700;
  line-height: 1.3;
}

.fjs-form-field.fjs-form-field-text :where(h4),
.fjs-form-field.fjs-form-field-html :where(h4) {
  display: block;
  margin: 1.33em 0;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.35;
}

.fjs-form-field.fjs-form-field-text :where(h5),
.fjs-form-field.fjs-form-field-html :where(h5) {
  display: block;
  margin: 1.67em 0;
  font-size: 0.83em;
  font-weight: 700;
  line-height: 1.4;
}

.fjs-form-field.fjs-form-field-text :where(h6),
.fjs-form-field.fjs-form-field-html :where(h6) {
  display: block;
  margin: 2.33em 0;
  font-size: 0.67em;
  font-weight: 700;
  line-height: 1.4;
}

.fjs-form-field.fjs-form-field-text :where(ul),
.fjs-form-field.fjs-form-field-html :where(ul) {
  display: block;
  margin: 1em 0;
  padding-left: 1.5em;
  list-style-type: disc;
}

.fjs-form-field.fjs-form-field-text :where(ol),
.fjs-form-field.fjs-form-field-html :where(ol) {
  display: block;
  margin: 1em 0;
  padding-left: 1.5em;
  list-style-type: decimal;
}

.fjs-form-field.fjs-form-field-text :where(li),
.fjs-form-field.fjs-form-field-html :where(li) {
  display: list-item;
  margin: 0.25em 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}
