---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/inter";
import "@fontsource/ramaraja";
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Benefit Decision Toolkit</title>
    <meta
      name="description"
      content="Benefit Decision Toolkit simplifies the management of eligibility rules and screeners so you can create useful tools quickly and keep the code to a minimum."
    />
  </head>
  <body
    class="prose-headings:font-serif prose-headings:font-normal prose-headings:text-center prose-p:text-black prose-p:leading-6 prose-h2:text-4xl prose-h3:text-3xl prose-p:text-lg"
  >
    <div id="top"></div>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
