@reference "tailwindcss";

.navbarlink {
  @apply px-4 py-2 no-underline border-b-2 hover:bg-gray-200 transition-colors;
}
.navbarlink.inactive {
  @apply border-transparent text-gray-500 hover:text-gray-700;
}
.navbarlink.active {
  @apply border-b border-gray-700 text-gray-700;
}
