body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  color: white;
  text-shadow: 0 0 6px black;
  margin: 0;
  margin-left: 40px;
  padding-top: 120px;
  padding-bottom: 60px;
}

header {
  background: url("../images/philly-skyline.jpg") left center;
  background-size: cover;
}

footer {
  text-align: center;
  margin-bottom: 60px;
}

.fjs-container {
  --font-size-group: 1.125rem;
  --font-size-base: 1rem;
  --font-size-input: 1rem;
  --font-size-label: 1rem;
  --line-height-base: normal;
  --line-height-input: normal;
  --line-height-label: normal;
  --letter-spacing-base: normal;
  --letter-spacing-input: normal;
  --letter-spacing-label: normal;
  --color-text-light: black;
  --form-field-height: 2.25rem;
}
