@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-sans: var(--font-lato), sans;
  --font-serif: var(--font-crete-round), serif;
}

@theme {
  --color-bdt-blue: #1876ba;
  --color-bdt-gradient: #065ca2;
  --color-heading: #2d2d2d;
  --color-btn-t: #92ee99;
  --color-btn-b: #6ce678;
  --color-bg: #dceffc;
  --color-card-border: #b7daf7;
  --color-border-b: #2cd733;
}
