@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Lato", sans;
  --font-serif: "Crete Round", serif;
  --color-bdt-blue: #1876ba;
  --color-bdt-green-light: #cff7d3;
  --color-bdt-green-dark: #16561d;
}
