@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Lato", sans;
  --font-serif: "Crete Round", serif;
  --color-bdt-blue: #1876ba;
  --color-heading: #2d2d2d;
  --color-btn-t: #92ee99;
  --color-btn-b: #6ce678;
  --color-bg: #cce6f9;
  --color-border-b: #2cd733;
}
