---
import { Content } from "../assets/text/Contact.md";
import wedge from "../assets/backgrounds/wedge.svg";
---

<section id="contact">
  <div class="max-w-[130ch] mx-auto">
    <div class="flex flex-row">
      <div class="sm:w-2/5 p-6 py-12">
        <div class="prose prose-headings:text-left">
          <Content />
        </div>
        <form
          action="https://formspree.io/f/xlgpngrj"
          method="post"
          class="mt-6"
        >
          <div><label for="name" class="font-semibold">Name</label></div>
          <div>
            <input
              class="my-3 p-3 w-full border-2 border-bdt-blue rounded-2xl"
              type="text"
              name="name"
              id="name"
              placeholder="John Doe"
              required
            />
          </div>
          <div><label for="email" class="font-semibold">Email</label></div>
          <div>
            <input
              class="my-3 p-3 w-full border-2 border-bdt-blue rounded-2xl"
              type="email"
              name="email"
              id="email"
              placeholder="johndoe@example.com"
              required
            />
          </div>
          <div><label for="message" class="font-semibold">Message</label></div>
          <div>
            <textarea
              class="my-3 p-3 w-full h-40 border-2 border-bdt-blue rounded-2xl"
              name="message"
              id="message"
              placeholder="Your message"
              required></textarea>
          </div>
          <input
            class="px-6 py-2 pt-3.5 mt-3 font-serif bg-bdt-green-light rounded-full text-xl font-bold cursor-pointer"
            type="submit"
            value="Submit"
            size=""
          />
        </form>
      </div>
      <div
        class="sm:w-3/5 bg-[url(../assets/backgrounds/man-in-office.webp)] bg-cover bg-center hidden sm:block"
      >
        <img class="h-full relative right-0.5" src={wedge.src} alt="" />
      </div>
    </div>
  </div>
</section>
