<footer class="py-12 flex flex-col items-center gap-3 bg-bdt-green-light">
  <a class="underline w-fit" href=`${import.meta.env.BASE_URL}/#top`
    >Return to top</a
  >
  <p class="text-3xl! font-serif mt-2">Benefit Decision Toolkit</p>
  <p>
    <a class="underline" href="https://codeforphilly.org/" target="_blank"
      >A Code For Philly project</a
    >
  </p>
  <p class="text-sm!">Copyright © Benefit Decision Toolkit 2026</p>
</footer>
