---
import { Image } from "astro:assets";
import logo from "../assets/logos/bdt-logo-large-mono-dark.svg";
import NavMenu from "./NavMenu.svelte";
---

<header class="py-6 px-3 bg-sky-500 sticky top-0 sm:static">
  <div
    class="flex flex-row justify-between items-baseline gap-6 max-w-[130ch] mx-auto"
  >
    <div class="w-36">
      <Image src={logo} alt="BDT logo" />
    </div>
    <NavMenu client:load />
  </div>
</header>
