---
import { Content } from "../assets/copy/Hero.md";
---

<section id="hero" class="py-6">
  <div class="prose">
    <Content />
  </div>
  <p class="mt-6"><a href="">See what we can do</a></p>
</section>
