---
import { Content } from "../assets/copy/Hero.md";
---

<section
  id="hero"
  class="py-6 px-3 h-120 bg-green-500/15 bg-[url(../assets/photos/man-with-laptop.png)] bg-cover bg-blend-overlay"
>
  <div class="max-w-[130ch] mx-auto mt-20">
    <div
      class="prose prose-p:text-slate-100 prose-headings:text-slate-100 max-w-120"
    >
      <Content />
    </div>
    <p
      class="mt-6 w-fit px-4 py-2 bg-white border-2 border-sky-500 rounded-full"
    >
      <a href="" class="text-sky-500 font-bold font-serif">See what we can do</a
      >
    </p>
  </div>
</section>
