---
import { Content } from "../assets/text/Hero.md";
---

<section
  id="hero"
  class="py-6 px-3 bg-[url(../assets/backgrounds/man-with-laptop-small.webp)] sm:bg-[url(../assets/backgrounds/man-with-laptop.webp)] bg-cover bg-center"
>
  <div class="max-w-[130ch] mx-auto mt-20">
    <div
      class="prose prose-p:text-slate-100 prose-headings:text-slate-100 prose-headings:text-left max-w-120 prose-p:text-shadow-sm/35 prose-p:text-xl! prose-p:leading-7! prose-headings:text-shadow-lg/15 prose-headings:max-w-2/3"
    >
      <Content />
    </div>
    <a href="/#projects" class="w-fit block">
      <div
        class="mt-6 w-fit px-6 py-2 pt-3.5 bg-white border-2 border-bdt-blue rounded-full text-sky-700 font-serif text-xl font-bold"
      >
        <span>Learn more</span>
      </div>
    </a>
  </div>
</section>
