---
import { Content } from "../assets/copy/Overview.md";
---

<div
  class="md:bg-[url(../assets/backgrounds/bubbles.svg)] bg-center md:mg-size-[150vh] lg:bg-cover bg-no-repeat"
>
  <section id="overview">
    <div class="max-w-[85ch] mx-auto py-12 px-3 prose">
      <Content />
    </div>
  </section>
</div>
