---
import { Content } from "../assets/copy/Projects.md";
---

<section id="projects" class="py-6">
  <div class="prose">
    <Content />
  </div>
  <ul class="flex gap-6 justify-center mt-6">
    <li>Property Tax Relief Screener</li>
    <li>Screener Builder Web App</li>
  </ul>
</section>
